<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
            body {
            background-color: #FFB800
            }
            nav {
            background-color: black; 
            color: white; 
            padding: 10px; 
            position: fixed; 
            left: 0; 
            bottom: 0; 
            width: 100%; 
            height: 8%;
        }
           
        </style>  
    <body>
        <nav></nav>
        <h1>Cadastro de Funcionários!</h1>
        
        <form action="/cadastrarFuncionarios" method="post">
        <label>Nome</label>
        <input type="text" name="nome" style="color: white">
        <br>
        <br>
        <label>CPF</label>
        <input type="text" name="cpf" style="color: white">
        <br>
        <br>
        <label>RG</label>
        <input type = "text" name="rg" style="color: white">
        <br>
        <br>
        <label>Endereço</label>
        <input type ="text" name="endereco" style="color: white">
        <br>
        <br>
        <label>Telefone</label> 
        <input type = "text" name="telefone" style="color: white">
        <br>
        <br>
        <label>Número da Carteira de Trabalho</label>
        <input type = "text" name="CTPS" style="color: white">
        <br>
        <button type="submit" name="submit" value="Cadastrar Funcionario">Cadastrar Funcionario</button>
        
        
        </form>

        <ul>
            <th:block th:each="funcionaario : ${funcionariosCadastrados}">
            <li>
                <strong>Nome:</strong> <span th:text="${funcionario.nome}"></span><br>
                <strong>CPF</strong> <span th:text="${funcionario.cpf}"></span><br>
                <strong>RG:</strong> <span th:text="${funcionario.rg}"></span><br>
                <strong>Endereço</strong> <span th:text="${funcionario.endereço}"></span><br>
                <strong>Telefone</strong> <span th:text="${funcionario.telefone}"></span><br>
                <strong>Tipo de Plano</strong> <span th:text="${funcionario.CTPS}"></span><br>
            </li>
        </th:block>
        </ul>
         
    </body>
  

    
</html>